<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<form class="form-vertical text-left" name="editForm">
			<h3 class="text-center">Place</h3>
			<fieldset ng-show="dataReceived">
				<div class="form-group">
					<label for="valueName">Name</label>
					<div id="valueName">{{place.name}}</div>
				</div>
				<div class="form-group">
					<label for="valueDescription">Description</label>
					<div id="valueDescription">{{place.description}}</div>
				</div>
				<div class="form-group">
					<label for="valueLocation">Location</label>
					<div id="valueLocation">{{place.location}}</div>
				</div>
				<div class="form-group">
					<label for="valuePicture">Picture</label>
					<div id="valuePicture">{{place.picture}}</div>
				</div>
				<div class="form-group">
					<button class="btn btn-primary" ng-click="gotoList($event)" >Back</button>
					<button class="btn btn-primary" ng-click="edit($event)" >Edit</button>
				</div>
			</fieldset>
			<div ng-hide="dataReceived" class="loader"><img src="images/loader.gif" alt="Loading..." /></div>
		</form>

	</div>
	<div class="col-md-4"></div>
</div>
