<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<form class="form-vertical text-left" name="editForm">
			<h3 class="text-center">User</h3>
			<fieldset ng-show="dataReceived">
				<div class="form-group">
					<label for="valueName">Name</label>
					<div id="valueName">{{user.name}}</div>
				</div>
				<div class="form-group">
					<label for="valueLastname">Lastname</label>
					<div id="valueLastname">{{user.lastname}}</div>
				</div>
				<div class="form-group">
					<label for="inputAge">Age</label>
					<div id="valueAge">{{user.age}}</div>
				</div>
				<div class="form-group">
					<label for="inputIsActive">IsActive</label>
					<div id="valueIsActive">{{user.isActive}}</div>
				</div>
				<div class="form-group">
					<button class="btn btn-primary" ng-click="gotoList($event)" >Back</button>
					<button class="btn btn-primary" ng-click="edit($event)" >Edit</button>
				</div>
			</fieldset>
			<div ng-hide="dataReceived" class="loader"><img src="images/loader.gif" alt="Loading..." /></div>
		</form>

	</div>
	<div class="col-md-4"></div>
</div>
